<% if @ilmoitukset.empty? %>
	<p>Ei hakutuloksia</p>
<% else %>
	<% @ilmoitukset.each do |ilmoitus| %>
		<p><a href="/ilmoitus/<%= ilmoitus.id %>"><%= ilmoitus.otsikko %></a></p>
	<% end %>
<% end %> 