<h2>Työpaikkahaku</h2>

<form method="GET" action="/haku">
	<p>Paikkakunta <input type="text" name="kunta"></p>

	<p>Sanahaku	<input type="text" name="sana"></p>
	
	<p><input type="submit" value="Hae"></p>
</form>