<h2>Työpaikkahaku</h2>

<form method="GET" action="/hakutulokset">
	<p>Paikkakunta <input type="text" name="kunta"></p>
	<p>Toimiala <input type="text" name="ala"></p>
	<p>Sanahaku	<input type="text" name="sana"></p>	
	
	<p><input type="submit" value="Hae"></p>
</form>