<h2>Rekisteröidy</h2>

<form>
	<p>Nimi:</p>
	<p><input type="text" name="nimi"></p>
	<p>Osoite:</p>
	<p><input type="text" name="osoite"></p>
	<p>Puhelin:</p>
	<p><input type="text" name="puhelin"></p>
	<p>Sähköposti</p>
	<p><input type="text" name="sahkoposti"></p>	
	<p>Käyttäjätunnus:</p>
	<p><input type="text" name="tunnus"></p>
	<p>Salasana:</p>
	<p><input type="password" name="salasana"></p>
	<p><input type="submit" name="submit" value="Rekisteröidy"></p>

</form>